@font-face {
  src: url("../vendor/CabinetGrotesk-Regular.woff") format("woff");
  font-family: "CabinetGrotesk";
}
@font-face {
  src: url("../vendor/CabinetGrotesk-Bold.woff") format("woff");
  font-family: "CabinetGrotesk";
}
.page {
  font-family: "CabinetGrotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}
