@font-face {
  src: url("../vendor/CabinetGrotesk-Regular.woff") format("woff");
  font-family: "CabinetGrotesk";
}
@font-face {
  src: url("../vendor/CabinetGrotesk-Bold.woff") format("woff");
  font-family: "CabinetGrotesk";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
.page {
  font-family: "CabinetGrotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: 0 auto;
  width: 1440px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
@media screen and (max-width: 480px) {
  .page {
    max-width: 320px;
  }
}
@media screen and (max-width: 768px) {
  .page {
    max-width: 768px;
  }
}
