/* ===========================
   FOOTER
   =========================== */
.footer {
  margin: 0;
  padding: 40px 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer_credit {
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

/* MOBILE FOOTER */
@media screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
    gap: 12px;
    text-align: center;
  }
}
