.header {
  font-family: "CabinetGrotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  padding: 0 20px;
  width: 100%;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
}

/* LOGO */
.header__logo {
  background-image: url(../assets/ConfahmLogo2.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 200px;
  height: 60px;
  cursor: pointer;
}

/* NAV BAR */
.header__nav-bar {
  display: flex;
  align-items: center;
  gap: 24px;
}

/* HOME BUTTON */
.header__home-button {
  font-family: "CabinetGrotesk", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 200px;
  height: 60px;
  background: #ffffff;
  border-radius: 100px;
  transition: background-color 0.2s;
  border: 2px solid #7e7e7e;
}

.header__home-button:hover {
  border: 2px solid #000000;
}

/* -------------------------------------- */
/* 📱 MOBILE (≤ 768px) */
/* -------------------------------------- */
@media screen and (max-width: 768px) {
  .header {
    padding: 0px;
  }

  .header__container {
    flex-direction: column;
    gap: 16px;
    align-items: center;
  }

  .header__logo {
    width: 150px;
    height: 45px;
  }

  .header__nav-bar {
    flex-direction: column;
    gap: 12px;
  }

  .header__home-button {
    width: 160px;
    height: 48px;
    font-size: 22px;
    line-height: 22px;
  }
}

/* -------------------------------------- */
/* 📱 EXTRA SMALL (≤ 480px) */
/* -------------------------------------- */
@media screen and (max-width: 480px) {
  .header {
    max-width: 480px;
  }
  .header__logo {
    width: 130px;
    height: 40px;
  }

  .header__home-button {
    width: 140px;
    height: 44px;
    font-size: 18px;
  }
}
