.main {
  margin: 0;
  width: 1360px;
  padding: 0 40px 28px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.main__title {
  height: 25px;
  align-self: flex-start;
}
.item-cards {
  max-width: 1280px;
  padding: 34px 0;
  display: grid;
  grid-template-columns: repeat(4, 328px);
  gap: 20px 20px;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}
